---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Experience from "@/components/Experience.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Benefits from "@/components/Benefits.astro";
import AffiliationSteps from "@/components/AffiliationSteps.astro";
---

<Layout
  title="AICA - Sindicato de Educación Caquetá"
  description="Defensa de los derechos laborales, bienestar y formación de docentes"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="quienes-somos">
      <TitleSection>
      

      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="servicios">
      <TitleSection>
        <Briefcase class="size-8" />
        Líneas de servicio
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="capacitaciones">
      <TitleSection>
        <Briefcase class="size-8" />
        Capacitaciones destacadas
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="beneficios">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Beneficios de afiliarse
      </TitleSection>
      <Benefits />
    </SectionContainer>

    <SectionContainer id="afiliacion">
      <TitleSection>
        <ProfileCheck class="size-8" />
        ¿Cómo afiliarse?
      </TitleSection>
      <AffiliationSteps />
    </SectionContainer>
  </div>
</Layout>
