---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Skills from "@/components/Skills.astro";
import SkillsComputer from "@/components/icons/SkillsComputer.astro";
import Fortalezas from "@/components/Fortalezas.astro";
---

<Layout
  title="Porfolio de Catherine Gaviria Camargo"
  description="Contrata a cathe para servicios de gestión del riesgo psicosocial y salud mental laboral"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="portafoiolio-servicios">
      <TitleSection>
        <div></div>

        <Briefcase class="size-8" />
        Portafolio de servicios
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="capacitaciones-riesgo-psicosocial">
      <TitleSection> 
        <div></div>
        <div></div>
        CAPACITACIONES EN RIESGO PSICOSOCIAL
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="fortalezas-del-servicio">
      <TitleSection> 

      </TitleSection>
      <Fortalezas />
    </SectionContainer>
  </div>
</Layout>
