<div class="flex items-center ">
<span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
  <span
    class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#6f4fb3_0%,#ffffff_50%,#6f4fb3_100%)]"
  ></span>
   <div class="inline-flex items-center justify-center px-3 py-1 text-sm text-white bg-[#6f4fb3] rounded-full cursor-pointer dark:bg-[#6f4fb3] dark:text-white backdrop-blur-3xl whitespace-nowrap">

    <slot />
  </div>
</span>
</div>