---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Febrero 2023 - Marzo 2025",
    title: "Developer Front-end",
    company: "anteia s.a.s",
    description:
      "En mi rol como desarrollador frontend, me especialicé en la creación de aplicaciones web utilizando React y Redux, con un enfoque particular en la optimización de la experiencia del usuario a través de interfaces limpias, intuitivas y responsivas. Implementé componentes reutilizables usando TypeScript, siguiendo las mejores prácticas de desarrollo frontend para asegurar un código modular y eficiente. Además, integré APIs RESTful para garantizar una comunicación efectiva entre el frontend y el backend, mejorando la conectividad y el flujo de datos en la aplicación. Durante el desarrollo de estos proyectos, trabajé en un entorno ágil con equipos multidisciplinarios, utilizando Scrum para asegurar la entrega oportuna de productos con altos estándares de calidad.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
