---
const personalImageAlt = "Luis fernando mazo cañas";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import Download from "./icons/Download.astro";
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-20"
      src="/fotoPerfilPortfolio.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/luis-fernando-mazo-ca%C3%B1as-9b1392218/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Disponible para trabajar</Badge>
    </a>
  </div>
  <h1
    id="animated-text"
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  </h1>

  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2 años de experiencia. <strong
      >Ingeniero de sistemas y telecomunicaciones
    </strong> de Manizales, Colombia co. Especializado en el desarrollo de aplicaciones
    web únicas.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="./cv.pdf">
      <Download class="size-4" />
      Descargar CV
    </SocialPill>

    <SocialPill
      href="https://www.linkedin.com/in/luis-fernando-mazo-ca%C3%B1as-9b1392218/"
    >
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="mailto:miduga@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
  </nav>
</div>

<script>
  const texts = ["Bienvenid@", "Soy Luis Fernando"];
  let i = 0;
  let element = document.getElementById("animated-text");

  function typeText(text: string) {
    let currentText = "";
    let currentIndex = 0;
    let typingSpeed = 150;
    let delayBetweenTexts = 2000;
    let fadeOutSpeed = 500;

    let interval = setInterval(function () {
      currentText += text[currentIndex];
      if (element) {
        element.innerHTML = `<span class="typing-animation">${currentText}</span>`;
      }
      currentIndex++;

      if (currentIndex === text.length) {
        clearInterval(interval);
        setTimeout(() => {
          if (element) {
            element.innerHTML = `<span class="typing-animation" style="animation: ${fadeOutSpeed / 1000}s fade-out forwards">${currentText}</span>`;
          }

          setTimeout(() => {
            i = (i + 1) % texts.length;
            typeText(texts[i]);
          }, fadeOutSpeed);
        }, delayBetweenTexts);
      }
    }, typingSpeed);
  }

  typeText(texts[i]);
</script>

<style>
  .typing-animation {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.15em solid #f3f2f2; /* Simula el cursor */
    animation:
      typing 3s steps(30) 1s forwards,
      blink-caret 0.75s step-end infinite;
  }

  /* Animación de parpadeo del cursor */
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  /* Animación de desvanecimiento al aparecer el texto */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* Animación de desvanecimiento al desaparecer el texto */
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
</style>
